// 필수 Bootstrap 파일 임포트
@import "bootstrap-5.3.3/scss/functions";
@import "bootstrap-5.3.3/scss/variables";
@import "bootstrap-5.3.3/scss/variables-dark";
@import "bootstrap-5.3.3/scss/maps";
@import "bootstrap-5.3.3/scss/mixins";
@import "bootstrap-5.3.3/scss/utilities";

// 모든 색상 맵 병합
$all-colors: map-merge-multiple($blues,
    $indigos,
    $purples,
    $pinks,
    $reds,
    $oranges,
    $yellows,
    $greens,
    $teals,
    $cyans);

// 유틸리티 확장
$utilities: map-merge($utilities,
    ("color": map-merge(map-get($utilities, "color"),
        (values: map-merge(map-get(map-get($utilities, "color"), "values"),
            $all-colors ),
        ),
      ),
      "text-bg": (property: color background-color,
        class: text-bg,
        values: $all-colors ),
      "table-bg": (property: background-color,
        class: table,
        values: $all-colors )));

// 유틸리티 API 임포트
@import "bootstrap-5.3.3/scss/utilities/api";